<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jxx.dao.OrderMapper">
    <resultMap id="BaseResultMap" type="com.jxx.entity.Order">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="gid" jdbcType="INTEGER" property="gid"/>
        <result column="uid" jdbcType="INTEGER" property="uid"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, gid, uid, address
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from orders
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from orders
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.jxx.entity.Order">
        insert into orders (id, gid, uid,
                            address)
        values (#{id,jdbcType=INTEGER}, #{gid,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER},
                #{address,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.jxx.entity.Order" useGeneratedKeys="true" keyProperty="id">
        insert into orders
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="gid != null">
                gid,
            </if>
            <if test="uid != null">
                uid,
            </if>
            <if test="address != null">
                address,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="gid != null">
                #{gid,jdbcType=INTEGER},
            </if>
            <if test="uid != null">
                #{uid,jdbcType=INTEGER},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.jxx.entity.Order">
        update orders
        <set>
            <if test="gid != null">
                gid = #{gid,jdbcType=INTEGER},
            </if>
            <if test="uid != null">
                uid = #{uid,jdbcType=INTEGER},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.jxx.entity.Order">
        update orders
        set gid     = #{gid,jdbcType=INTEGER},
            uid     = #{uid,jdbcType=INTEGER},
            address = #{address,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>